<!-- # RMIT University Vietnam
# Course: COSC2767 Systems Deployment and Operations
# Semester: 2022B
# Assessment: Assignment 3
# Author: Trieu Hoang Khang – s3878466, Nguyen Vu Minh Duy – s3878076, Thai Manh Phi – s3878070,
Kha
Nguyen Anh Tran – s3750945, Nguyen Phuc Cuong – s3881006
# Created date: NaN
# Last modified: 25/01/2024
# Acknowledgement:  -->
<project>
    <description />
    <keepDependencies>false</keepDependencies>
    <properties />
    <scm class="hudson.scm.NullSCM" />
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers>
        <jenkins.triggers.ReverseBuildTrigger>
            <spec />
            <upstreamProjects>DeployDBToDev, DeployStoreToDev</upstreamProjects>
            <threshold>
                <name>SUCCESS</name>
                <ordinal>0</ordinal>
                <color>BLUE</color>
                <completeBuild>true</completeBuild>
            </threshold>
        </jenkins.triggers.ReverseBuildTrigger>
        <hudson.triggers.SCMTrigger>
            <spec>* * * * *</spec>
            <ignorePostCommitHooks>false</ignorePostCommitHooks>
        </hudson.triggers.SCMTrigger>
    </triggers>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Shell>
            <command>
<![CDATA[
#!/bin/bash

# Initialize a counter for the timeout (2 minutes / 30 seconds)
max_lb_error_attempts=5
lb_attempts=1
lb_error_sleep_time=30

max_db_error_attempts=6
db_attempts=1
db_error_sleep_time=10

# Wait for LoadBalancer URL to become available
while true; do
    # Retrieve the ELB URL
    LB_URL=$(kubectl get svc store-service -n dev-store-app -o jsonpath='{.status.loadBalancer.ingress[0].hostname}')

    if [ ! -z "$LB_URL" ]; then
        echo "LoadBalancer URL is now available: $LB_URL"
        
        # Check for database connection error
        RESPONSE=$(curl -s http://$LB_URL)
        if echo "$RESPONSE" | grep -q "Database connection error"; then
            echo "Database connection error detected. Attempt $db_attempts of $max_db_error_attempts"       
            if [ $db_attempts -eq $max_db_error_attempts ]; then
                echo "LoadBalancer URL is available, but database is unavailable after 60 seconds, exiting."
                exit 1
            fi
            ((db_attempts++))
    		sleep $db_error_sleep_time
        else
            echo "No database connection error, proceeding with the pipeline."
            exit 0
        fi
    else
        if [ $lb_attempts -eq $max_lb_error_attempts ]; then
            echo "LoadBalancer URL not available after 2 minutes, exiting."
            exit 1
        fi
        echo "Waiting for LoadBalancer URL to become available... Attempt $lb_attempts of $max_lb_error_attempts"
        ((lb_attempts++))
    	sleep $lb_error_sleep_time
    fi
done
]]>
            </command>
            <configuredLocalRules />
        </hudson.tasks.Shell>
    </builders>
    <publishers />
    <buildWrappers />
</project>